// vim: set ts=8 sts=2 et sw=2 tw=99:

$background-color: #272727;
$header-background-color: #F3F3F3;

$default-color: #EDF2F4;
$primary-color: #FB3640;

// A slightly mellowed-out red compared to the red for fonts.
$table-header-background-color: #BF262B;
$row-alt-background-color: #333333; // Every even-numbered row.
$row-hover-background-color: #484848;

$control-bar-background-color: #C2C2C2;
$control-text-color: #4A4A50;
$control-border-color: #A9A9A9;
$control-background-color: #F4F4F4;
$control-hover-color: #FFFFFF;
$control-active-color: #D8D8D8;

// Height definitions.
$control-bar-height: 36px;
$header-height: 36px;
$topbar-height: $control-bar-height + $header-height;

$table-row-height: 18px;

// Definitions for media queries.
$mobile-cutoff: 600px;

// External things that are hopefully pretty small.
@import "../node_modules/slickgrid/slick.grid";

// Internal things.
@import "header";
@import "tables";
@import "controls";
@import "records-columns";
@import "donator-colors";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $background-color;
  color: $default-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: $default-color;
}

.flexbox {
  display: flex;
  height: 100%;
  flex-flow: column;
}

#oplurl {
  color: $primary-color;
}

div.topbar {
  position: fixed;
  width: 100%;
  height: $topbar-height;
}

div.topbar-without-controls {
  position: fixed;
  width: 100%;
  height: $header-height;
}

div.content {
  padding-top: $topbar-height;
}

// Gross workaround to make things look semi-OK on text-based pages
// until we figure out a real CSS template.
div.mixed-content {
  padding: $header-height 20px 20px 20px;
  font-size: 10pt;
}
div.mixed-content-with-controls {
  padding: $topbar-height 20px 20px 20px;
  font-size: 10pt;
}

div.text-content {
  padding: $topbar-height 20px 20px 20px;
  max-width: 800px;
  text-align: left;
  font-size: 10pt;
}

.downloadbar {
  display: flex;
  flex-direction: row;
}

.downloaditem {
  border: 1px;
  border-color: lime;
  border-style: solid;
  padding: 10px;
  margin-right: 10px;
}

li {
  margin-bottom: 10px;
}

.fa-resize {
  font-size: 14px;
}

.instagram {
  margin-left: 6px;
  vertical-align: middle;
}

h2 {
  color: $primary-color;
}

// This is for informational text at the bottom of the screen
// on some pages. It can probably be removed.
.info {
  font-size: 10pt;
  padding: 5px 20px 5px 20px;
}
